
.robotAsist{
    width: 450px;
    height: 450px;
    transform: scale(0);
    position: fixed!important;
    opacity: 0;
    z-index: 99;
    transform-origin: top left;

}
.messageContainer .message{
    max-height: 300px;
    overflow: auto;
}
.messageContainer   .section {
    max-height: 250px;
    padding: 1rem;
    overflow-y: auto;
    text-align: left;
    scrollbar-color: #0094ff #e4e4e4;
    scrollbar-width: thin;

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p + p {
        margin-top: 1rem;
    }
}
.messageContainer .section::-webkit-scrollbar {
    width: 20px;
}
.messageContainer .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}
.messageContainer .section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);

}
.messageContainer{
    background: linear-gradient(to bottom, #5546FF, #3034EC);
    width: 350px;
    border-radius: 26px;
    position: fixed;
    padding: 25px;
    color:#fff;
    z-index: 98;
    display: none;

}
.robotAsist .r1{
    position: absolute;
    z-index: 1;
    width: 110px;
    height: auto;
}

.robot .r2{
    position: absolute;
    z-index: 1;
    width: 110px;
    height: auto;

}

@media (max-width: 768px) {

    .robot{
        width: 350px;
        height: 164px;
        position: fixed;

        right: 50px;
        bottom: -110px;
        cursor: pointer;

    }
    .messageContainer {
        max-width: 250px;
    }

    .robot .r1{
        position: absolute;
        z-index: 1;
        width: 90px;
        height: auto;
    }

    .robot .r2{
        position: absolute;
        z-index: 1;
        width: 90px;
        height: auto;

    }
}

.r1, .r2 {
    position: absolute;
    display: none; /* Başlangıçta gizli */
    right: 0;
}
.r1.show, .r2.show {
    display: block; /* Görünür yap */
}

.close{
    position: absolute;
    right: -15px;
    top: -15px;
}

.head {
    position: relative;
    height: 200px;
    z-index: 99;
}

.body{
    position: relative!important;
    z-index: 6;

}

.arm{
    position: relative;
    margin-top: -20px;
}

.chest {
    position: relative;
    height: 17px;
    z-index: 20;
}

.armleft {
    top: -3px;
    left: 27px;
    z-index: 0;
}

.armright {
    top: -3px;
    right: 28px;
    z-index: 1;
}


.chests {
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.bodys {
    top: -2px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}


.lefteye {
    width: 50px;
    top: -200px;
    left: 262px;
    z-index: 99;
    position: absolute;
}
.righteye {
    width: 50px;
    top: -200px;
    left: 144px;
    z-index: 99;
    position: absolute;
}
.kiss {
    width: 70px;
    position: absolute;
    top: -124px;
    left: 194px;
    z-index: 55;
}

.facein {
    position: absolute;
    top: -79px;
    left: 117px;
    width: 221px;
    z-index: 57;
}

.face {
    top: 54px;
    left: 106px;
    z-index: 54;
}
.rightear {
    right: 46px;
    top: 62px;
    z-index: 0;
}
.leftear {
    left: 46px;
    top: 62px;
    z-index: 0;
}
.power {
    left: 171px;
    top: 52px;
    z-index: 3;
}

.powerlight {
    width: 120px!important;
    height: 120px!important;
    z-index: 999;
    top: 45px;
    left: 165px;
    mix-blend-mode: screen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crown {
    left: 158px;
    top: -1px;
    z-index: 4;
}
.mask{
    top:0;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}
.org{
    position: absolute;

}

.elements{
    position: relative;
    height: 100%;
}

#button-container {
    position: relative;
    width: 200px;
    height: 200px;
}

.btn-circle {
    position: absolute;
    width: 150px;
    height: 50px;
    opacity: 0;
    background:#242faf;

}


.menu {
    left: 35.6%;
    top: 57.5%;
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
    zoom: 1.6;
}
.trigger {
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999999;
    color:#fff;
    opacity: 0;
}
.iconss {
    position: absolute;
    top:0%;
    left: 0%;


}
.btn-icon {
    font-weight: 500;
    width: 80px;
    height: 80px;
    background: rgb(0 35 111 / 65%);
    box-shadow: inset 0px 0px 10px rgba(0, 216, 255, 0.8), inset 0px 0px 1px 1px rgb(38 222 255), 0px 0px 10px rgba(0, 216, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgb(255 255 255);
    opacity: 0;
    cursor: pointer;
    line-height: 15px;
    font-size: 13px;
    text-align: center;
}
.btn-icon i {
    font-size: 24px;
    color: #333;
}

.range-slider.grad {
    --progress-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
    --progress-flll-shadow: var(--progress-shadow);
    --fill-color: linear-gradient(to right, LightCyan, var(--primary-color));
    --thumb-shadow: 0 0 4px rgba(0, 0, 0, 0.3),
    -3px 9px 9px rgba(255, 255, 255, 0.33) inset,
    -1px 3px 2px rgba(255, 255, 255, 0.33) inset,
    0 0 0 99px var(--primary-color) inset;
}
.range-slider.grad input:hover {
    --thumb-transform: scale(1.2);
}
.range-slider.grad input:active {
    --thumb-shadow: inherit;
    --thumb-transform: scale(1);
}

.range-slider.flat {
    --thumb-size: 25px;
    --thumb-radius: 6px;
    --track-height: calc(var(--thumb-size) / 3);
    --progress-shadow: none;
    --progress-flll-shadow: none;
    --thumb-shadow: 0 0 0 7px var(--primary-color) inset, 0 0 0 99px white inset;
    --thumb-shadow-hover: 0 0 0 9px var(--primary-color) inset,
    0 0 0 99px white inset;
    --thumb-shadow-active: 0 0 0 13px var(--primary-color) inset;
}

.range-slider.overlay {
    --primary-color: #d6e9ff;
    --track-height: 50px;
    --thumb-size: var(--track-height);
    --thumb-color: var(--primary-color);
    --thumb-shadow: none;
    --progress-flll-shadow: none;
    --progress-shadow: none;
    --progress-background: none;
    --progress-radius: 0px;
    --ticks-color: var(--primary-color);
    --ticks-height: 0;
    --ticks-thickness: 0;
    --ticks-gap: 0px;
    --min-max-font: 700 18px Arial;
    --min-max-opacity: 1;
    --show-min-max: none;
    color: #0366d6;
}
.range-slider.overlay input:hover {
    --thumb-shadow: calc(25px - (50px * var(--is-left-most))) 0 0 -15px #0366d6
    inset;
}
.range-slider.overlay input:active {
    --thumb-color: inherit;
}
.range-slider.overlay .range-slider__values {
    width: calc(100% - 50% / (var(--max) - var(--min)));
}

.range-slider {
    --primary-color: #0366d6;
    --value-offset-y: var(--ticks-gap);
    --value-active-color: white;
    --value-background: transparent;
    --value-background-hover: var(--primary-color);
    --value-font: 700 12px/1 Arial;
    --fill-color: var(--primary-color);
    --progress-background: #eee;
    --progress-radius: 20px;
    --track-height: calc(var(--thumb-size) / 2);
    --min-max-font: 12px Arial;
    --min-max-opacity: 0.5;
    --min-max-x-offset: 10%;
    --thumb-size: 22px;
    --thumb-color: white;
    --thumb-shadow: 0 0 3px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 0 0 99px var(--thumb-color) inset;
    --thumb-shadow-active: 0 0 0 calc(var(--thumb-size) / 4) inset
    var(--thumb-color),
    0 0 0 99px var(--primary-color) inset, 0 0 3px rgba(0, 0, 0, 0.4);
    --thumb-shadow-hover: var(--thumb-shadow);
    --ticks-thickness: 1px;
    --ticks-height: 5px;
    --ticks-gap: var(
            --ticks-height,
            0
    );
    --ticks-color: silver;
    --tickEvery:1;
    --step: 1;
    --ticks-count: Calc(var(--max) - var(--min)) / var(--step);
    --maxTicksAllowed: 30;
    --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
    --x-step: Max(
            var(--step),
            var(--too-many-ticks) * (var(--max) - var(--min))
    );
    --tickInterval: calc(100 / ((var(--max) - var(--min)) / var(--step) * var(--tickEvery, 1)));
    --tickIntervalPerc: calc(
            (100% - var(--thumb-size)) / ((var(--max) - var(--min)) / var(--x-step)) *
            var(--tickEvery, 1)
    );
    --value-a: Clamp(
            var(--min),
            var(--value, 0),
            var(--max)
    );
    --value-b: var(--value, 0);
    --text-value-a: var(--text-value, "");
    --completed-a: calc(
            (var(--value-a) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --completed-b: calc(
            (var(--value-b) - var(--min)) / (var(--max) - var(--min)) * 100
    );
    --ca: Min(var(--completed-a), var(--completed-b));
    --cb: Max(var(--completed-a), var(--completed-b));
    --thumbs-too-close: Clamp(
            -1,
            1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
            1
    );
    --thumb-close-to-min: Min(1, Max(var(--ca) - 2, 0));
    --thumb-close-to-max: Min(1, Max(98 - var(--cb), 0));
    display: inline-block;
    height: max(var(--track-height), var(--thumb-size));
    background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
    background-size: var(--tickIntervalPerc) var(--ticks-height);
    background-position-x: calc( var(--thumb-size) / 2 - var(--ticks-thickness) / 2 );
    background-position-y: var(--flip-y, bottom);
    padding-bottom: var(--flip-y, var(--ticks-gap));
    padding-top: calc(var(--flip-y) * var(--ticks-gap));
    position: relative;
    z-index: 1;
}
.range-slider[data-ticks-position=top] {
    --flip-y: 1;
}
.range-slider::before, .range-slider::after {
    --offset: calc(var(--thumb-size) / 2);
    content: counter(x);
    display: var(--show-min-max, block);
    font: var(--min-max-font);
    position: absolute;
    bottom: var(--flip-y, -2.5ch);
    top: calc(-2.5ch * var(--flip-y));
    opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
    transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
    pointer-events: none;
}
.range-slider::before {
    --before: 1;
    --at-edge: var(--thumb-close-to-min);
    counter-reset: x var(--min);
    left: var(--offset);
}
.range-slider::after {
    --at-edge: var(--thumb-close-to-max);
    counter-reset: x var(--max);
    right: var(--offset);
}
.range-slider__values {
    position: relative;
    top: 50%;
    line-height: 0;
    text-align: justify;
    width: 100%;
    pointer-events: none;
    margin: 0 auto;
    z-index: 5;
}
.range-slider__values::after {
    content: "";
    width: 100%;
    display: inline-block;
    height: 0;
    background: red;
}
.range-slider__progress {
    --start-end: calc(var(--thumb-size) / 2);
    --clip-end: calc(100% - (var(--cb)) * 1%);
    --clip-start: calc(var(--ca) * 1%);
    --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
    position: absolute;
    left: var(--start-end);
    right: var(--start-end);
    top: calc( var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2 );
    height: calc(var(--track-height));
    background: var(--progress-background, #eee);
    pointer-events: none;
    z-index: -1;
    border-radius: var(--progress-radius);
}
.range-slider__progress::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    -webkit-clip-path: var(--clip);
    clip-path: var(--clip);
    top: 0;
    bottom: 0;
    background: var(--fill-color, black);
    box-shadow: var(--progress-flll-shadow);
    z-index: 1;
    border-radius: inherit;
}
.range-slider__progress::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--progress-shadow);
    pointer-events: none;
    border-radius: inherit;
}
.range-slider > input {
    -webkit-appearance: none;
    width: 100%;
    height: var(--thumb-size);
    margin: 0;
    position: absolute;
    left: 0;
    top: calc( 50% - Max(var(--track-height), var(--thumb-size)) / 2 + calc(var(--ticks-gap) / 2 * var(--flip-y, -1)) );

    cursor: grab;
    outline: none;
    background: none;
}
.range-slider > input:not(:only-of-type) {
    pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    -moz-transition: 0.1s;
    transition: 0.1s;
}
.range-slider > input::-ms-thumb {
    appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    transform: var(--thumb-transform);
    border-radius: var(--thumb-radius, 50%);
    background: var(--thumb-color);
    box-shadow: var(--thumb-shadow);
    border: none;
    pointer-events: auto;
    -ms-transition: 0.1s;
    transition: 0.1s;
}
.range-slider > input:hover {
    --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
    --value-background: var(--value-background-hover);
    --y-offset: -5px;
    color: var(--value-active-color);
    box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
    --thumb-shadow: var(--thumb-shadow-active);
    cursor: grabbing;
    z-index: 2;
}
.range-slider > input:active + output {
    transition: 0s;
}
.range-slider > input:nth-of-type(1) {
    --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999, 1);
}
.range-slider > input:nth-of-type(1) + output {
    --value: var(--value-a);
    --x-offset: calc(var(--completed-a) * -1%);
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
    --flip: calc(var(--thumbs-too-close) * -1);
}
:root {
    --prefix: ""; /* Örneğin para birimi için */
    --suffix: "";
    --text-value-b:"";
}

.range-slider > input:nth-of-type(1) + output::after {
    content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}
.range-slider > input:nth-of-type(2) {
    --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999, 1);
}
.range-slider > input:nth-of-type(2) + output {
    --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
    --clip-start: 0;
}
.range-slider > input + output {
    --flip: -1;
    --x-offset: calc(var(--completed-b) * -1%);
    --pos: calc(
            ((var(--value) - var(--min)) / (var(--max) - var(--min))) * 100%
    );
    pointer-events: none;
    position: absolute;
    z-index: 5;
    background: var(--value-background);
    border-radius: 10px;
    padding: 2px 4px;
    left: var(--pos);
    transform: translate(var(--x-offset), calc( 150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip) ));
    transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
    content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
    font: var(--value-font);
}




body > .range-slider,
label[dir=rtl] .range-slider {
    width: clamp(300px, 50vw, 800px);
    min-width: 200px;
}

.exicon{
    display: flex;
    gap: 5px;
}

.exicon dotlottie-player{
    width: 50px;
    height: auto;
}

.exicon .iconitem{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    cursor:pointer;
}

.leftSide .card{
    border-radius: 0;
    margin-bottom: -1px;
}


:root {
    --background: #00236f;
    --navbar-width:320px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #ffffff;
    --navbar-dark-secondary: #ffffff;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}


#nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px);
}
#nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-header label[for=nav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary);
}
#nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
    width: 16px;
    background: var(--navbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity 0.1s;
}
#nav-toggle:checked ~ #nav-content .nav-button svg {
    min-width: calc(100% - 16px);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}
#nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for=nav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

#nav-bar {
    position: absolute;
    left: 1vw;
    top: 1vw;
    height: calc(100% - 2vw);
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
}
#nav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--navbar-dark-secondary);
}
#nav-bar a {
    color: inherit;
    text-decoration: inherit;
}
#nav-bar input[type=checkbox] {
    display: none;
}

#nav-header {
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}
#nav-header hr {
    position: absolute;
    bottom: 0;
}

#nav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
}

label[for=nav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--navbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
}
#nav-toggle-burger:before, #nav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--navbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
}
#nav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
}

#nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
}
#nav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
#nav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}
#nav-content::-webkit-scrollbar-button {
    height: 16px;
}

#nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}
#nav-content-highlight:before, #nav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}
#nav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

#nav-content-highlight2 {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}
#nav-content-highlight2:before, #nav-content-highlight2:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}
#nav-content-highlight2:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.nav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
}
.nav-button span {
    transition: opacity 1s;
}
.nav-button svg {
    transition: min-width 0.2s;
    height: 30px!important;
}
.nav-button:hover svg{
    fill: white!important;
}
.nav-button:nth-of-type(1):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
    top: 16px;
}
.nav-button:nth-of-type(2):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
    top: 70px;
}
.nav-button:nth-of-type(3):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
    top: 124px;
}
.nav-button:nth-of-type(4):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
    top: 178px;
}
.nav-button:nth-of-type(5):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
    top: 232px;
}
.nav-button:nth-of-type(6):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(6):hover ~ #nav-content-highlight {
    top: 286px;
}
.nav-button:nth-of-type(7):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(7):hover ~ #nav-content-highlight {
    top: 340px;
}
.nav-button:nth-of-type(8):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(8):hover ~ #nav-content-highlight {
    top: 394px;
}

.nav-button:nth-of-type(9):hover {
    color: var(--navbar-dark-primary);
}
.nav-button:nth-of-type(9):hover ~ #nav-content-highlight {
    top: 448px;
}

#nav-bar  svg {
    min-width: 3rem;
    text-align: center;
}

#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px;
}
#nav-toggle:not(:checked) ~ #nav-footer-toggle:checked + #nav-footer label[for=nav-footer-toggle] {
    transform: rotate(180deg);
}

label[for=nav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

.nav-page{
    width: 450px;
    height: 97.5%;
    background: white;
    position: absolute;
    left: 350px;
    top: 1.4%;
    border-radius: 20px;

}
div[page=page2] .card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div[page=page2] button {
    flex: 1 1 calc(33.33% - 10px); /* %33 genişlik ve boşluk ayarı */
    box-sizing: border-box; /* Kenar ve padding'in genişliğe dahil edilmesi */
}


